@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Bodar';
	font-weight: normal;
	src: url('./assets/fonts/bodar.ttf') format('truetype');
}

@font-face {
	font-family: 'SFUI Text';
	font-weight: normal;
	src: url('./assets/fonts/sf_ui_text.ttf') format('truetype');
}

@layer base {
	:root {
		--background: 180 2% 88%;
		--primary: 0 0% 12%;
		--primary-foreground: 210 40% 98%;
	}

	.dark {
		--background: 180 2% 12%;
		--primary: 0 0% 93%;
		--primary-foreground: 0 0% 88%;
	}

	html {
		font-family: 'SFUI Text';
	}
	body {
		height: 100svh;
	}

	#root {
		display: grid;
		grid-template-rows: auto 1fr;
		grid-template-columns: 1fr;
		gap: 4rem;
		transition: all ease-in-out 0.25s;
		height: 100%;
	}
}
